.button-style {
    padding-top: 10px;
}

.image-quiz {
    max-width: 50%;
    max-height: 800px;
}

.title-quiz {
    padding-bottom: 20px;
}

.results-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 200px;
}

.wrong-text {
    color: red;
}

.correct-text {
    color: #28a745;
}

.btn-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4caf50;
    color: white;
    font-size: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-up:before {
    content: "\2191"; /* Unicode character for upward arrow */
}

.comments {
    text-align: right;
    padding: 0 10px;
    font-size: 12px;
    color: blue;
}

.form-check {
    position: relative;
    display: block;
    padding: 7px 20px;
    margin: 10px 0;
    border: 1px solid #b7bdc4;
    border-radius: 0.5rem;
}

[type='radio'] {
    display: none;
}

.form-check-input:hover:not(:checked) + .form-check-label {
    /*background-color: #fffd8a59;*/
}

.form-check-input:checked + .form-check-label {
    background-color: transparent;
}

.form-check:hover {
    background-color: #eee; /* Change to the desired color */
}

.answer input:checked + label {
  background-color: yellow;
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: black;
}

.main-container {
    padding-top: 80px
}


/* width */
::-webkit-scrollbar {
    width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #202023;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}
