.button-style {
    padding-top: 10px;
}

.image-quiz {
    max-width: 50%;
    max-height: 700px;
}

.title-quiz {
    padding-bottom: 20px;
}


.results-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 200px;
}

@media (max-width: 1400px) {
    .results-container {
        display: none;
    }
}

.wrong-text {
    color: red;
}

.correct-text {
    color: #28a745;
}

.btn-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4caf50;
    color: white;
    font-size: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-up:before {
    content: "\2191"; /* Unicode character for upward arrow */
}

@media (max-width: 1400px) {
    .btn-up {
        display: none;
    }
}

.comments {
    text-align: right;
    padding: 0 10px;
    font-size: 12px;
    color: blue;
}

.form-check {
    position: relative;
    display: block;
    padding: 7px 20px;
    margin: 10px 0;
    border: 1px solid #b7bdc4;
    border-radius: 0.5rem;
}

[type='radio'] {
    display: none;
}

.form-check-input:hover:not(:checked) + .form-check-label {
    /*background-color: #fffd8a59;*/
}

.form-check-input:checked + .form-check-label {
    background-color: transparent;
}

.form-check:hover {
    background-color: #eee; /* Change to the desired color */
}

.answer input:checked + label {
    background-color: yellow;
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: black;
}

.main-container {
    padding-top: 80px
}


/* width */
::-webkit-scrollbar {
    width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #202023;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125)  !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

