body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #00ff00;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ffff00;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 30px;
}

.pi-title {
    color: #343a40;
}


.main-content {
    padding: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.btn {
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

.btn-secondary {
    background-color: #0062cc;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
